

.insta{
    font-size: 22px;
}
.insta:hover
{
    color: #d62976;
    cursor: pointer;
}

.discord
{
    font-size: 22px;
}
.discord:hover{
    color:rgb(57, 75, 180);
    cursor: pointer;
}


.youtube{
    font-size: 22px;
}
.youtube:hover{
    color: rgb(235, 15, 23);
    cursor: pointer;
}

.fb
{
    font-size: 22px;
}
.fb:hover{
    color: #4267B2;
    cursor: pointer;
}

.github
{
    font-size: 22px;
}
.github:hover
{
    color: black;
    cursor: pointer;
}

